
html {
    scroll-behavior: smooth;
  }
  
.main {
    margin-left: 160px; /* Same as the width of the sidenav */
    font-size: 20px; /* Increased text to enable scrolling */
    padding: 0px 10px;
  }
body{
    font-family: 'Roboto', sans-serif;
}
#wrapper{
    padding: 10px;
    background: #EEEEEE;
}
.top_banner{
    text-align: center;
}

#table_1{
    width: 50%;
}

.t_row{
    text-align: left;
    width: 50%;
}

#eval_table{
    width: 50%;
}

.e_row{
    text-align: center;
    width: 50%;
}


.sidenav {
    height: 100%;
    width: 160px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #FFFFFF;
    overflow-x: hidden;
    padding-top: 20px;
  }
  
  .sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
  }
  
  .sidenav a:hover {
    color: #A5A5A5;
  }

@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }
  